body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #207010;
}

.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: darkgreen;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header h1 {
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}

.footer {
    background-color: darkgreen;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

.foto {

    width: 150px;
    height: 150px;
    position: absolute;
    right: 200px;
    bottom: 340px;
    border-radius: 50%;
}